
@{
    ViewBag.Title = "Extra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-top: 20px;"></div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.css">
<div class=container-fluid>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <div align=center>
        <img src="~/Image/prof.jpg"><br>
        <br />
    </div>
</div>
